<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link rel='stylesheet' type='text/css'  href="/style.css" />
    <meta charset="utf-8" />
    <title>reset password</title>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Matcha</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/registration"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
        </ul>
      </div>
    </nav>
    <div class="loginForm">
      <form class="text-center border border-light p-4" action="/resetPassword" method="POST">
        <label>Username</label>
        <br/>
        <input 
            type="text" 
            name="username"  
            required 
            class="form-control mb-3"/>
        <br/><br/><br/>
        <div class="submitButton">
          <br /><br />
          <button type="submit" class="btn btn-danger btn-block my-4">
            submit
          </button>
          <div class='message'><%= msg %></div>
          </div>
      </form>
    </div>
  </body>
</html>
